alabaster==1.0.0
babel==2.17.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
docutils==0.21.2
filelock==3.20.0
fonttools==4.61.1
fsspec==2025.12.0
huggingface-hub==0.36.0
idna==3.11
imagesize==1.4.1
indic-nlp-library==0.92
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
Morfessor==2.0.6
mpmath==1.3.0
networkx==3.6.1
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pillow==10.2.0
protobuf==6.33.2
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2023.12.25
requests==2.32.5
roman-numerals-py==3.1.0
sacremoses==0.1.1
safetensors==0.7.0
sentencepiece==0.1.99
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-argparse==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sympy==1.14.0
tokenizers==0.22.1
torch==2.9.1+cpu
torchaudio==2.9.1+cpu
torchvision==0.24.1+cpu
tqdm==4.67.1
transformers==4.57.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.1
